@model List<KeenanBuff.Models.MatchDetailViewModel>

<div class="team-results">
    <section class="radiant">
        <header style="vertical-align: middle">
            The Radiant
        </header>
        <article class="">
            <div class="r-table performances-overview">
                <table class="matches">
                    <thead>
                        <tr class="col-hints">
                            <th class="">Hero</th>
                            <th class="">Player</th>
                            <th class="">Level</th>
                            <th class="">Score</th>
                            <th class="">Net Worth</th>
                            <th class="">LH</th>
                            <th class="">Denies</th>
                            <th class="">GPM</th>
                            <th class="">XPM</th>
                            <th class="r-none-tablet">Items</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Where(i => i.PlayerSlot < 5).OrderBy(m => m.PlayerSlot))
                {
                    <tr>
                        <td class="r-fluid r-5 r-icon-text">
                            <div class="image-container image-container-hero image-container-icon">
                                <img src="@Url.Content(item.HeroUrl)">
                            </div>
                        </td>
                        <td class="r-fluid r-23">
                            <div class="r-body">
                                <span class="player-radiant">@Html.DisplayFor(modelItem => item.SteamName)</span>
                            </div>
                        </td>
                        <td class="r-fluid r-8">
                            <div class="r-body">
                                @Html.DisplayFor(modelItem => item.Level)
                            </div>
                        </td>
                        <td class="r-fluid r-8">
                            <div class="r-body">
                                @Html.DisplayFor(modelItem => item.Kda)
                            </div>
                        </td>
                        <td class="r-fluid r-8">
                            <div class="r-body">
                                @Html.DisplayFor(modelItem => item.Networth)
                            </div>
                        </td>
                        <td class="r-fluid r-8">
                            <div class="r-body">
                                @Html.DisplayFor(modelItem => item.LastHits)
                            </div>
                        </td>
                        <td class="r-fluid r-8">
                            <div class="r-body">
                                @Html.DisplayFor(modelItem => item.Denies)
                            </div>
                        </td>
                        <td class="r-fluid r-5">
                            <div class="r-body">
                                @Html.DisplayFor(modelItem => item.GoldPerMin)
                            </div>
                        </td>
                        <td class="r-fluid r-5">
                            <div class="r-body">
                                @Html.DisplayFor(modelItem => item.XpPerMin)
                            </div>
                        </td>
                        <td class="tf-r r-tab r-group-2 cell-minor r-none-tablet">
                            <div class="r-fluid r-30">
                                @foreach (var playeritem in item.Items.Where(i => i.Item.ItemUrl != "None"))
                        {
                            <div class="image-container-item">
                                <img class="image-item" src="@Url.Content(String.Format("{0}", playeritem.Item.ItemUrl))">
                            </div>

                }
                            </div>
                        </td>
                    </tr>
        }
                    </tbody>
                </table>
            </div>
        </article>
    </section>

    <section class="dire">
        <header style="vertical-align: middle">
            The Dire
        </header>
        <article class="">
            <div class="r-table performances-overview">
                <table class="matches">
                    <thead>
                        <tr class="col-hints">
                            <th class="">Hero</th>
                            <th class="">Player</th>
                            <th class="">Level</th>
                            <th class="">Score</th>
                            <th class="">Net Worth</th>
                            <th class="">LH</th>
                            <th class="">Denies</th>
                            <th class="">GPM</th>
                            <th class="">XPM</th>
                            <th class="r-none-tablet">Items</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Where(i => i.PlayerSlot > 5).OrderBy(m => m.PlayerSlot))
                        {
                            <tr>
                                <td class="r-fluid r-5 r-icon-text">
                                    <div class="image-container image-container-hero image-container-icon">
                                        <img src="@Url.Content(item.HeroUrl)">
                                    </div>
                                </td>
                                <td class="r-fluid r-23">
                                    <div class="r-body">
                                        <span class="player-radiant">@Html.DisplayFor(modelItem => item.SteamName)</span>
                                    </div>
                                </td>
                                <td class="r-fluid r-8">
                                    <div class="r-body">
                                        @Html.DisplayFor(modelItem => item.Level)
                                    </div>
                                </td>
                                <td class="r-fluid r-8">
                                    <div class="r-body">
                                        @Html.DisplayFor(modelItem => item.Kda)
                                    </div>
                                </td>
                                <td class="r-fluid r-8">
                                    <div class="r-body">
                                        @Html.DisplayFor(modelItem => item.Networth)
                                    </div>
                                </td>
                                <td class="r-fluid r-8">
                                    <div class="r-body">
                                        @Html.DisplayFor(modelItem => item.LastHits)
                                    </div>
                                </td>
                                <td class="r-fluid r-8">
                                    <div class="r-body">
                                        @Html.DisplayFor(modelItem => item.Denies)
                                    </div>
                                </td>
                                <td class="r-fluid r-5">
                                    <div class="r-body">
                                        @Html.DisplayFor(modelItem => item.GoldPerMin)
                                    </div>
                                </td>
                                <td class="r-fluid r-5">
                                    <div class="r-body">
                                        @Html.DisplayFor(modelItem => item.XpPerMin)
                                    </div>
                                </td>
                                <td class="tf-r r-tab r-group-2 cell-minor r-none-tablet">
                                    <div class="r-fluid r-30">
                                        @foreach (var playeritem in item.Items.Where(i => i.Item.ItemUrl != "None"))
                                        {
                                            <div class="image-container-item">
                                                <img class="image-item" src="@Url.Content(String.Format("{0}", playeritem.Item.ItemUrl))">
                                            </div>

                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </article>
    </section>


</div>