@model List<KeenanBuff.Models.MatchDetailViewModel>

<div class="header-content-container">
    <div class="header-content">
        <div class="header-content-primary">
            <div class="header-content-title">
                <h1>
                    Match @Html.DisplayFor(model => model.First().MatchID)
                    <small>Overview</small>
                </h1>
            </div>
        </div>
        <div class="header-content-secondary">
            <dl>
                <dd>
                    High Skill
                </dd>
                <dt>
                    Skill Bracket
                </dt>
            </dl>
            <dl>
                @Html.DisplayFor(model => model.First().LobbyString)
                <dt>
                    Lobby Type
                </dt>
            </dl>
            <dl>
                <dd>
                    All Pick
                </dd>
                <dt>
                    Game Mode
                </dt>
            </dl>
            <dl>
                <dd>
                    US West
                </dd>
                <dt>
                    Region
                </dt>
            </dl>
            <dl>
                <dd>
                    @Html.DisplayFor(modelItem => Model.First().Duration)
                </dd>
                <dt>
                    Duration
                </dt>
            </dl>
            <dl>
                <dd>
                    @Html.DisplayFor(modelItem => Model.First().StartTime)
                </dd>
                <dt>
                    Match Ended
                </dt>
            </dl>
        </div>
    </div>
</div>

<div class="content-inner">
    <div class="match-show">
        @if (Model.First().RadiantWin == true)
        {
            <div class="match-result team radiant">Radiant Victory</div>
        }
        else
        {
            <div class="match-result team dire">Dire Victory</div>
        }

        <div class="match-victory-subtitle">
            <span class="the-radiant score">@Html.DisplayFor(item => Model.First(p => p.PlayerSlot < 5).RadiantScore) </span>
            <span class="duration">@Html.DisplayFor(item => Model.First().StartTime)</span>
            <span class="the-dire score">@Html.DisplayFor(item => Model.First(p => p.PlayerSlot > 5).DireScore)</span>
        </div>

        <div class="team-results">
            @Html.Partial("_MatchTable")
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back", "Index")
</p>
