@model KeenanBuff.Models.Player

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Match.MatchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match.MatchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.steam_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.steam_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hero_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hero_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deaths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deaths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assists)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leaver_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leaver_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_hits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_hits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.denies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.denies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gold_per_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gold_per_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.xp_per_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xp_per_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gold_spent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gold_spent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hero_damage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hero_damage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tower_damage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tower_damage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hero_healing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hero_healing)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
