@model IEnumerable<KeenanBuff.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.steam_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.player_slot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.steam_name)
        </td>   
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new {  id=item.PlayerID  }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
