@model KeenanBuff.Models.PlayerOverview

@{
    ViewBag.Title = "Index";
}



<article>
    <div class="r-table performances-overview">
        @foreach (var item in Model.PlayerMatch)
        {

            int min = item.Match.duration / 60;
            int seconds = item.Match.duration % 60;
            <div class="r-row">
                <div class="r-fluid r-40 r-icon-text">
                    <div class="r-body">
                        <div class="image-container image-container-hero image-container-icon">
                            <img src="@Url.Content(String.Format("../../assets/{0}.png", item.Player.hero_id))" height="24" width="42">
                        </div>
                        @Html.DisplayFor(modelitem => item.Player.hero_name)
                        <div class="subtext">
                            High Skill
                        </div>
                    </div>
                </div> <!--Hero Icon-->
                <div class="r-fluid r-175 r-text-only r-right r-match-result">
                    <div class="r-body">
                        @if ((item.Match.radiant_win && item.Player.player_slot < 5) || (!item.Match.radiant_win && item.Player.player_slot > 5))
                        {
                            <a class="won" href="@Url.Content(String.Format("../../Matches/Details/{0}", item.Match.MatchID))">Won Match</a>
                        }
                        else
                        {
                            <a class="lost" href="@Url.Content(String.Format("../../Matches/Details/{0}", item.Match.MatchID))">Lost Match</a>
                        }

                        <div class="subtext">
                            @item.Match.start_time.ToString("MM/dd/yyyy")
                        </div>
                    </div>
                </div> <!-- Result-->
                <div class="r-fluid r-175 r-text-only r-first">
                    <div class="r-body">
                        @Html.DisplayFor(modelItem => item.Match.lobby_string)
                        <div class="subtext">
                            @Html.DisplayFor(modelItem => item.Match.game_mode_string)
                        </div>
                    </div>
                </div> <!--Type-->
                <div class="r-fluid r-125 r-line-graph r-duration">
                    <div class="r-body">
                        @min:@seconds
                    </div>
                </div> <!-- Duration-->
                <div class="r-fluid r-125 r-line-graph">
                    <div class="r-label">KDA</div>
                    <div class="r-body">

                        <span class="kda-record">
                            <span class="value">@Html.DisplayFor(modelItem => item.Player.kills)</span>
                            /
                            <span class="value">@Html.DisplayFor(modelItem => item.Player.deaths)</span>
                            /
                            <span class="value">@Html.DisplayFor(modelItem => item.Player.assists)</span>

                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</article>