@model KeenanBuff.Models.PlayerOverview

<article>
    <div class="r-table performances-overview content-inner">
        <table class="matches">
            <thead>
                <tr>
                    <th colspan="2">Hero</th>
                    <th>Matches</th>
                    <th>Win Rate</th>
                    <th class="r-none-tablet">KDA</th>
                </tr>
            </thead>
            @foreach (var item in Model.HeroStats)
            {
                <tr>
                    <td class="r-fluid r-5 r-icon-text">
                            <div class="r-body">
                                <div class="image-container image-container-hero image-container-icon">
                                    <img src="@Url.Content(String.Format(item.Hero.HeroUrl))" height="24" width="42">
                                </div>
                            </div>
                    </td>
                    <td class="r-fluid r-20">
                        <div class="r-none-mobile">
                            @Html.ActionLink(item.Hero.HeroName, "Index", "Matches", new { heroId = item.Hero.HeroId }, null)
                            <div class="subtext minor">
                                Last Match: <a href="@Url.Content("/Matches/Details/" + String.Format(item.LastMatch.MatchID.ToString()))">
                                    @item.LastMatch.StartTime.ToString("MM/dd/yyyy")
                                </a>
                            </div>
                        </div>
                    </td>
                    <td class="r-fluid r-25 r-text-only r-right r-match-result">
                        <div class="r-body">
                            @Html.DisplayFor(modelItem => item.Matches)
                        </div>
                    </td> <!-- Result-->
                    <td class="game-mode r-fluid r-25 r-text-only r-first">
                        <div class="r-body">
                            @Html.DisplayFor(modelItem => item.WinRate) %
                        </div>
                    </td> <!--Type-->
                    <td class="r-fluid r-25 r-duration">
                        <div class="kda-bars r-none-tablet">
                            <div style="width:@(item.AverageKills+"px");height:3px;background-color:limegreen;margin-bottom:5px;"></div>
                            <div style="width:@(item.AverageAssists+"px");height:3px;background-color:yellow;margin-bottom:5px;"></div>
                            <div style="width:@(item.AverageDeaths+"px");height:3px;background-color:red;margin-bottom:5px;"></div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</article>